.bodyapp {
  width: 1000px;
  margin: auto;
  color: white;
  border-radius: 30px; }

.elementPoll {
  height: 55px;
  margin-bottom: 30px;
  width: 100%;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  border-radius: 10px; }
  .elementPoll ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    justify-content: space-between; }
    .elementPoll ul li {
      font-family: 'Gugi', cursive;
      font-size: 18px;
      margin: 15px  5px 5px 5px;
      color: Black; }
      .elementPoll ul li:last-child {
        margin-top: 5px; }
      .elementPoll ul li span {
        color: white;
        text-shadow: 1px 1px 1px black; }
