
    



.header-global
  margin: auto
  width: 50%
  display: flex
  flex-flow: row wrap
  justify-content: center
  height: 100px
  
  h3 
    color: #5D4037  
    text-shadow: 1px 1px 1px grey
    font-family: 'Gugi', cursive;
    align-self: center
    text-align: center
    position: relative   
    margin: auto
    color: white
    font-size: 20px
    
   
.header-body
  margin: auto 
  display: flex
  justify-content: center
  a
    position: relative
    cursor: pointer
    button 
      align-self: center   
      flex: 0 0 auto   
      height: 38px
      width: 100px 
      font-family: 'Gugi', cursive;
      font-size: 16px
      margin: 20px  
      text-shadow: 1px 1px 1px black
      background: rgba(44,144,223,0.7)
      border-color: rgba(4,144,323,1)
      border-width: 2px
      color: white
      &:hover ,&:active, &:focus
        background: rgba(33,221,33,0.4)
        color: white
        opacity: 1
        border-width: 1px
        border-color: lime   
        transition-duration: 0.3s 